.navbar-container{
    background: linear-gradient(rgb(3, 0, 20), rgb(15, 7, 40));
    border-bottom: 1px solid #aaaaaa;
    position: fixed;
    top: 0;
    height: 65px;
    z-index: 500;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-container .nav-list{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid blue; */
}

.navbar-container .nav-list .nav_logo{
    text-decoration: none;
    list-style: none;
}

.navbar-container .nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.navbar-container .nav-list p{
    color: #fff;
}