.navbar-container{
    background: linear-gradient(#030014, #0f0728);
    border-bottom: 1px solid #aaaaaa;
    position: fixed;
    top: 0;
    height: 65px;
    z-index: 500;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-container .nav-list{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid blue; */
}

.navbar-container .nav-list .nav_logo{
    text-decoration: none;
    list-style: none;
}

.navbar-container .nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.navbar-container .nav-list p{
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.navbar-container .nav-list p.active {
    color: #5868fa;
    font-weight: 500;
}